node_modules
.env*
appLogs
*.launch
.settings/
*.sublime-workspace
.env*
.husky
.eslintcache
/Jenkinsfile
coverage
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
../.vscode/
.vscode/